* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
.header__menu {
    display: flex;
    justify-content: end;
    max-width: 1136px;
    margin: 0 auto;
}
.header__menu-items {
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
letter-spacing: 0.4px;
text-transform: uppercase;
color: #1D1A17;
padding-top: 60px;
margin-left: 24px;
overflow: hidden;
}
.header__menu-items a{
    text-decoration: none;
    color: #000;
}
.footer {
    max-width: 100%;
height: 323px;
background: #DEDBD7;
}
.footer_img-top_1 {
    margin: 0 auto;
    max-width: 112px;
}
.footer_img-top {
    margin-top: 48px;
}
.footer__down {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 53px;
    max-width: 100%;
}
.footer__down-text {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    cursor: pointer;
}
.down__text-1 {
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
letter-spacing: 0.4px;
text-transform: uppercase;
color: #1D1A17;
margin-left: 24px;
}

.footer__down-social {
    display: flex;
}
.down-social_inst {
    margin-left: 44px;
}
.down-social_facebook {
    margin-left: 19.99px;
}
.down-social_yout {
    margin-left: 20.52px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}
.main__karte {
    position: relative;
}
.karte__text {
    position: absolute;
}
.karte__topic {
    margin-top: 191px;
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
text-align: center;
color: #1D1A17;
}
.karte__info {
    font-family: 'Crimson Text';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
text-align: center;
color: #1D1A17;
margin-top: 9px;
}
.button {
 display: flex;
    justify-content: center;
}
.button__bd {
    width: 117px;
height: 48px;
background: #968676;
margin-top: 51px;
}
.button__text {
    text-decoration: none;
    font-family: 'Crimson Text';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
}
.google__karte {
    width: 600px;
    height: 450px;
    margin: 30px 0;
}

@media (max-width:767px) {
    
    .footer__down-text {
        flex-direction: column;
        text-align: center;
    }
    .down__text-1 {
        line-height: 25px;
    }
    .main__karte {
        width: 730px;
    }
    .karte__topic {
        margin-top: 80px;
    }
    .karte__info {
        font-size: 23px;
    }
    .button__bd {
        width: 100px;
        height: 45px;
    }
    .button__text {
        font-size: 16px;
    }
    .main {
        margin-bottom: 60px;
    }
}

@media (max-width:575px) {
    .footer__down-img {
        display: none;
    }
    .main__karte {
        width: 550px;
    }
    .karte__topic {
        margin-top: 50px;
    }
    .karte__info {
        font-size: 20px;
    }
    .karte__topic {
        font-size: 24px;
    }
    .button__bd {
        width: 80px;
        height: 40px;
        margin-top: 25px;
    }
    .button__text {
        font-size: 14px;
    }
    .main {
        margin-bottom: 40px;
    }
    .google__karte {
        width: 550px;
        height: 300px;
    }
}